.u-section-1 .u-sheet-1 {
  min-height: 100px;
}

.u-section-1 .u-form-1 {
  background-image: linear-gradient(#eafdfc, white);
  height: 80px;
  margin: 0 auto 20px 20px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  --radius: 20px;
  height: 40px;
}

.u-section-1 .u-label-2 {
  width: 100px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: normal;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-1 .u-form-1 {
    height: 178px;
    width: 380px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 7px;
  }

  .u-section-1 .u-btn-1 {
    --radius: 20px;
    padding: 10px 155px 10px 153px;
  }
} .u-section-2 {
  min-height: 639px;
}

.u-section-2 .u-group-1 {
  width: 747px;
  background-image: linear-gradient(rgba(97,242,235,0.44), white);
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 197px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  width: auto;
  margin: 1px auto 0 28px;
}

.u-section-2 .u-text-4 {
  width: auto;
  margin: 3px 251px 0 8px;
}

.u-section-2 .u-group-2 {
  width: 747px;
  background-image: linear-gradient(rgba(97,242,235,0.44), white);
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 197px);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  width: auto;
  margin: 1px auto 0 28px;
}

.u-section-2 .u-text-8 {
  width: auto;
  margin: 3px 251px 0 8px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 43px;
  margin-top: 120px;
  margin-bottom: -42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 112px;
    margin-top: 9px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -6px;
    margin-left: 463px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -27px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 112px;
    margin-top: 9px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -6px;
    margin-left: 463px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -27px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-text-2 {
    margin-left: 436px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 251px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-text-6 {
    margin-left: 436px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 274px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 274px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 314px;
  }

  .u-section-2 .u-group-1 {
    min-height: 80px;
    width: 370px;
    margin-top: 1px;
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: -15px;
    margin-right: 8px;
    margin-left: 249px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -9px;
    margin-right: 251px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-group-2 {
    min-height: 80px;
    width: 370px;
    margin-top: 0;
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-top: -15px;
    margin-right: 8px;
    margin-left: 249px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -9px;
    margin-right: 251px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 8px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 1px;
    margin-bottom: 0;
  }
} .u-section-3 {
  min-height: 791px;
}

.u-section-3 .u-group-1 {
  width: 747px;
  background-image: linear-gradient(rgba(97,242,235,0.44), white);
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 197px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 42px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-group-2 {
  width: 747px;
  background-image: linear-gradient(rgba(97,242,235,0.44), white);
  margin: 69px auto 0 calc(((100% - 1140px) / 2) + 197px);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-group-3 {
  width: 747px;
  background-image: linear-gradient(rgba(97,242,235,0.44), white);
  margin: 60px auto 60px calc(((100% - 1140px) / 2) + 197px);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    font-weight: normal;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -6px;
    margin-left: 463px;
    font-weight: normal;
  }

  .u-section-3 .u-group-2 {
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -6px;
    margin-left: 463px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -6px;
    margin-left: 463px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-2 {
    margin-left: 436px;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-4 {
    margin-left: 436px;
  }

  .u-section-3 .u-group-3 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-6 {
    margin-left: 436px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 274px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 274px;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 274px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 458px;
  }

  .u-section-3 .u-group-1 {
    width: 370px;
    margin-top: -21px;
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 21px;
    margin-right: 185px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-2 {
    font-weight: 700;
    font-size: 1.125rem;
    margin-top: -29px;
    margin-right: 14px;
    margin-left: 185px;
  }

  .u-section-3 .u-group-2 {
    width: 370px;
    margin-top: 0;
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 1px;
    margin-right: 185px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -43px;
    margin-right: 14px;
    margin-left: 185px;
  }

  .u-section-3 .u-group-3 {
    width: 370px;
    margin-top: 0;
    margin-left: calc(((100% - 1140px) / 2) + 385px);
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 1px;
    margin-right: 185px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    margin-top: -43px;
    margin-right: 14px;
    margin-left: 185px;
  }
}